<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>{{operationText}}</h2>
                <div [formGroup]="userForm" class="row">
                    <div class="form-group col-md-4">
                        <label>Frist Name</label>
                        <input type="text" formControlName="firstName" class="form-control" />
                    </div>  
                    <div class="form-group col-md-4">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" />
                    </div> 
                    <div class="form-group col-md-4">
                      <label>Password</label>
                      <input type="text" formControlName="password" class="form-control" />                      
                    </div>
                    <div class="form-group col-md-6">
                      <label>Email id</label>
                      <input type="text" formControlName="emailid" class="form-control" />                      
                    </div>
                    <div class="form-group col-md-6">
                      <label>phoneNumber</label>
                      <input type="text" formControlName="phoneNumber" class="form-control" />                      
                    </div>
                    <div class="form-group col-md-6">
                        <label>gender</label>
                        <select class="form-control" formControlName="gender">
                            <option *ngFor="let gender of genderTypes" [value]="gender">{{gender}}</option>
                        </select>                      
                    </div>                    
                    <div class="form-group col-md-6">
                        <label>Address</label>
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="sel1">Select Role:</label>
                        <select class="form-control" formControlName="roleName">
                            <option *ngFor="let role of userRoles" [value]="role">{{role}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" *ngIf="currentUserRole==='superAdmin'">
                        <label for="sel1">Select Company:</label>
                        <select class="form-control" formControlName="companyName">
                            <option *ngFor="let company of companies" [value]="company.companyName">{{company.companyName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" *ngIf="userForm.controls['roleName'].value==='user'">
                        <label for="sel1">Select Society:</label>
                        <select class="form-control" formControlName="societyName">
                            <option *ngFor="let society of societies" [value]="society.societyName">{{society.societyName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 text-center" *ngIf="operationText==='Add User'">                        
                        <button [disabled]="!userForm.valid" id="" name="" class="btn btn-primary" (click)="addUser()">Add User</button>                       
                    </div>
                    <div class="form-group col-md-12 text-center" *ngIf="operationText==='Edit User'">                        
                        <button [disabled]="!userForm.valid" id="" name="" class="btn btn-primary" (click)="updateUser()">Update User</button>                       
                    </div>
                    <BUTTON (click)="check()">check</BUTTON>
                </div>
            </div>
        </div>
    </div>
  </div>